html {
background-color: AliceBlue;
}

a:link, a:visited {
background-color: LightGreen;
color: white;
font-family: Source Code Pro, Courier New, monospace;
width: 25%;
padding: 10px 25px;
text-align: center;
text-decoration: none;
}

.main {
background-color: Azure;
color: black;
font-family: DM Sans, Helvetica, sans-serif;
margin: auto;
width: 800px;
border: 2.5px solid Azure;
border-radius: 25px;
text-align: justify;
}

h1 {
background-color: MediumAquamarine;
color: white;
font-family: Helvetica, Arial, sans-serif;
font-size: 36px;
margin: auto;
width: 50%;
border: 5px solid MediumAquaMarine;
border-radius: 20px;
padding: 25px;
text-align: center;
}

h2 {
background-color: PaleTurquoise;
color: white;
font-family: Roboto, Helvetica, sans-serif;
font-size: 30px;
margin: auto;
width: 47.5%;
border: 5px solid PaleTurquoise;
border-radius: 20px;
padding: 20px;
text-align: center;
}

h3 {
font-family: Helvetica, Arial, sans-serif;
font-size: 24px;
}

.section {
text-align: center;
}

ul {
list-style-type: none;
margin: 0px;
padding: 0px;
}

li a {
display: block;
}

li a:hover {
background-color: LimeGreen;
}

#paexample {
width: 800px;
}